<li> 
    {{ name }}

    {{#if eaten}}
        <button class='delete' data-id="{{id}}">No Like!</button>
        {{#else}}
        <button class='eat' data-id='{{id}}'>Nom Nom!</button>
    {{/if}}
</li>