body {
    display:grid;
    grid-template-columns: 50px 1fr 200px 1fr 50px;
    grid-template-rows:1fr 1fr 1fr 500px;
    background-image: url(../images/mustard-and-ketchup-seamless-pattern-vector-20014758.jpg);
    flex-wrap: wrap;
}

.title {
    justify-content: center;
    grid-column-start: 3;
}

.form {
    justify-content: center;
    grid-column-start: 3;
    font-size: 24px;
    font-weight: bold ;
    
}

.toeat {
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
   
}

.eaten {
    justify-content: center;
    grid-column-start: 4;
}

button {
    font-weight: bold;
    background-color: green;
}

.cat {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 6;
    background-image: url(../images/billygoat-1_317web-1024x683.jpg);
    
    width: 1000px;
    height: auto;
    
}